<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>DataShare</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
	    // when use leaves the field
	    // post data, passing in col, row and value
	    $(".data td input").each(function() {
	        $(this).bind("blur", function() {
	            dataUpdate($(this));
	        });
	    });

            $(".add td input[type='submit']").bind("click", function(e) {
               e.preventDefault();
               $.ajax({
                    type: 'POST',
                    url: '/add/{{uid}}/',
                    data: $(".add input").serialize(),
                    dataType: 'json',
                });
            });

	    function dataUpdate(cell) {
	        var data_val = cell.val();
	        var data_col = cell.attr("name");
	        var data_row = $(cell).attr("row");
                $.ajax({
                    type: 'POST',
                    url: '/put/{{uid}}/',
                    data: { 'field': data_col, 'row': data_row, 'data': data_val },
                    dataType: 'json',
                });
	    }
	    
            var longPoll = function() {
              return $.ajax({
                type: "POST",
                url: "/poll/" + "{{uid}}/",
                async: true,
                cache: false,
                timeout: 100000,
                success: function(data) {
                  if (data.length > 0) {
	              // adding row or updating
	              var data = $.parseJSON(data);
	              if (data.action == "update") {
                          $(".data td input[name='" + data.field + "'][row='" + data.row + "']").val(data.data);
	              }
	              if (data.action == "add") {
                          $("table tbody").append("<tr class='data'> \
                    <td><input type='text' name='first' row='" + data.row + "' value='" + data.data.first + "' title='First Name' /></td> \
                    <td><input type='text' name='last' row='" + data.row + "' value='" + data.data.last + "' title='Last Name' /></td> \
		    <td><input type='text' name='d1' row='" + data.row + "' value='" + data.data.d1 + "' /></td> \
		    <td><input type='text' name='d2' row='" + data.row + "' value='" + data.data.d2 + "' /></td> \
		    <td><input type='text' name='d3' row='" + data.row + "' value='" + data.data.d3 + "' /></td> \
		    <td>&nbsp;</td> \
                </tr>");
	              }
                  }
                  return longPoll();
                },
                dataType: 'json'
              });
            };

            longPoll();

        });
    </script>
</head>
<body>
    {{ test }}
    <h3>DataShare</h3>
    <form method="post" action="">
    <table>
        <tbody>
            {% for d in data %}
                <tr class="data">
                    <td><input type="text" name="first" row="{{ loop.index0 }}" value="{{ d.first }}" title="First Name" /></td>
                    <td><input type="text" name="last" row="{{ loop.index0 }}" value="{{ d.last }}" title="Last Name" /></td>
		    <td><input type="text" name="d1" row="{{ loop.index0 }}" value="{{ d.d1 }}" /></td>
		    <td><input type="text" name="d2" row="{{ loop.index0 }}" value="{{ d.d2 }}" /></td>
		    <td><input type="text" name="d3" row="{{ loop.index0 }}" value="{{ d.d3 }}" /></td>
		    <td>&nbsp;</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="add">
                <td><input type="text" name="first" required placeholder="first name" title="First Name" /></td>
                <td><input type="text" name="last" required placeholder="last name" title="Last Name" /></td>
                <td><input type="text" name="d1" required pattern="\d{1,}" title="Data 1" /></td>
                <td><input type="text" name="d2" required pattern="\d{1,}" title="Data 2" /></td>
                <td><input type="text" name="d3" required pattern="\d{1,}" title="Data 3" /></td>
	        <td><input type="submit" value="Add" /></td>
            </tr>
        </tfoot>
    </table>
    </form>
</body>
</html>
